<h1>Ice Cube's Quizinator!</h1>
<h3>Where you can quiz yo'self with a quiz when you wanna be quizzed.</h3>

<% if logged_in? %>

  <a href='/sessions/<%= @current_user.id %>'>Logout</a><br><br>
  <%= erb :_decks %>
  <%= erb :_scoreboard %>

<% else %>
  
  <%= erb :_signup_box %><br>
  <%= erb :_login_box %>

<% end %>
